<app-header></app-header>
<div class="container">
  <div class="row justify-content-md-center m-1">

    <div class="card bg-light col-md-12 col-sm-12" style="padding: 0;">
      <div class="card-header font-weight-bold text-center">Crear Tipologia
      </div>
      <form *ngIf="!cargando" novalidate [formGroup]="tipologiaForm" (ngSubmit)="submitTipologia()">
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" placeholder="Nombre Tipologia" formControlName="nombreTipologia">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Descripcion</label>
            <div class="col-sm-10">
              <textarea class="form-control" formControlName="descripcionTipologia" rows="4"></textarea>
              <!-- <input class="form-control" type="text" placeholder="descripcion Tipologia" formControlName="descripcionTipologia"> -->
            </div>
          </div>
          <div class="row justify-content-md-center m-1">
            <button mat-button [disabled]="!tipologiaForm.valid" type="submit" color="primary">
              <mat-icon mat-list-icon>done</mat-icon>
              Guardar
            </button>
            <button mat-button routerLink="/tipologias" color="warn">
              <mat-icon mat-list-icon>cancel</mat-icon>
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>