<app-header></app-header>
<div class="container">
  <div *ngIf="!mostrarDetalle">
    <div class="col" style="text-align: right">
      <button mat-button routerLink="/consultas/adicionar" color="primary" *ngIf="identity.rol=='ADMIN'">
        <mat-icon mat-list-icon>add</mat-icon>adicionar
      </button>
    </div>
    <form novalidate [formGroup]="consultasForm" (ngSubmit)="cargar()" class="form-inline mt-4">
      <div class="col form-group">
        <label class="col-2 col-form-label">Tipologias</label>
        <div class="col-4">
          <select class="form-control" formControlName="tipologias">
            <!-- <option [ngValue]="undefined">--Seleccione--</option> -->
            <option *ngFor="let tip of tipologias" [value]="tip._id">{{tip.nombre}}</option>
          </select>
        </div>
        <div class="col-2">
        </div>
        <div class="col-4">
          <button mat-button [disabled]="!consultasForm.valid" type="submit" color="primary">
            <mat-icon mat-list-icon>done</mat-icon>
            Mostrar
          </button>
          <!-- <button mat-button routerLink="/reclamos" color="warn">
            <mat-icon mat-list-icon>cancel</mat-icon>
            Cancelar
          </button> -->
        </div>
      </div>
    </form>
    <div class="col mt-2" *ngIf="mostrar">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
        <thead class="thead-default">
          <tr>
            <th>Nro. Solicitud</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th *ngIf="identity.rol=='ADMIN'">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitud of data; index as i" (click)="detalle(solicitud)" style="cursor:pointer">
            <th>{{solicitud._id}}</th>
            <td>{{solicitud.nombre}}</td>
            <td>{{solicitud.descripcion}}</td>
            <td *ngIf="identity.rol=='ADMIN'">
              <button mat-button (click)="editar(solicitud)" color="primary">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span class="enlaces">Editar</span>
              </button>
              <button mat-button (click)="eliminar(solicitud)" color="warn">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span class="enlaces" style="color: red">Eliminar</span>
              </button>
            </td>
          </tr>
          <tbody>
      </table>
    </div>

  </div>
  <div *ngIf="mostrarDetalle">
    <div class="col" style="text-align: right">
      <button mat-button (click)="atras()" color="primary">
        <i class="material-icons">undo</i>atras
      </button>
    </div>

    <div class="card border-secondary mb-3">
      <div class="card-header">{{detalleConsula.nombre}}</div>
      <div class="card-body text-secondary">
        <!-- <h5 class="card-title">Primary card title</h5> -->
        <p class="card-text">{{detalleConsula.descripcion}}</p>
      </div>
    </div>
  </div>

</div>