<app-header></app-header>
<div class="container">
  <div class="row justify-content-md-center m-1">
    <div class="card bg-light col-md-12 col-sm-12" style="padding: 0;">
      <div class="card-header">Crear Nueva Instancia
      </div>
      <div class="card-body">
        <form novalidate [formGroup]="instanForm" (ngSubmit)="onSubmit()">

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Entrada</label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="entrada">
                <option *ngFor="let entrada of entradas" [value]="entrada">{{entrada}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">categoria</label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="categoria">
                <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
              </select>
            </div>
          </div>
          <!-- <div class="form-group row">
            <label class="col-sm-2 col-form-label">Categoria</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" placeholder="categoria" formControlName="categoria">
            </div>
          </div> -->

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">SubCategoria</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" placeholder="subcategoria" formControlName="subcategoria">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Descripcion</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" placeholder="descripcion" formControlName="descripcion">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Formulario</label>
            <div class="col-sm-10">
              <mat-checkbox (click)="createForm()" formControlName="checkForm">
              </mat-checkbox>
            </div>
          </div>
          <div *ngIf="checkForm">

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Campo 1</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" placeholder="Nombre del campo" formControlName="campo1">
              </div>
              <label class="col-sm-2 col-form-label">Campo 2</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" placeholder="Nombre del campo" formControlName="campo2">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Campo 3</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" placeholder="Nombre del campo" formControlName="campo3">
              </div>
              <label class="col-sm-2 col-form-label">Campo 4</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" placeholder="Nombre del campo" formControlName="campo4">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Campo 5</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" placeholder="Nombre del campo" formControlName="campo5">
              </div>
              <label class="col-sm-2 col-form-label">Campo 6</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" placeholder="Nombre del campo" formControlName="campo6">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Campo 7</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" placeholder="Nombre del campo" formControlName="campo7">
              </div>
              <label class="col-sm-2 col-form-label">Campo 8</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" placeholder="Nombre del campo" formControlName="campo8">
              </div>
            </div>
          </div>


          <!-- <button mat-button [disabled]="!instanForm.valid" type="submit" color="primary"> -->
          <button mat-button [disabled]="!instanForm.valid" type="submit" color="primary">
            <mat-icon mat-list-icon>done</mat-icon>
            Guardar
          </button>
          <button mat-button routerLink="/instancias" color="warn">
            <mat-icon mat-list-icon>cancel</mat-icon>
            Cancelar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>