<app-header></app-header>
<div class="container">
  <div class="row mt-4">
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <button (click)="mostrar('facebook')" class="btn btn-block btn-social btn-facebook">
            <i class="fa fa-facebook"></i>Facebook
          </button>
          <!-- <div *ngIf="showFacebook">
            <button type="button" class="btn btn-primary">Consulta</button>
            <button type="button" class="btn btn-secondary">Requerimiento</button>
            <button type="button" class="btn btn-success">Denuncias</button>
          </div> -->
          <button (click)="mostrar('linea')" class="btn btn-block btn-social btn-linkedin">
            <i class="fa fa-phone"></i>Linea Gratuita
          </button>
          <!-- <div *ngIf="showLinea">
            <button type="button" class="btn btn-primary">Consulta</button>
            <button type="button" class="btn btn-secondary">Requerimiento</button>
            <button type="button" class="btn btn-success">Denuncias</button>
          </div> -->
          <button (click)="mostrar('whatsapp')" class="btn btn-block btn-social bg-success">
            <i class="fa fa-whatsapp"></i>Whatsapp
          </button>
          <!-- <div *ngIf="showWhats">
            <button type="button" class="btn btn-primary">Consulta</button>
            <button type="button" class="btn btn-secondary">Requerimiento</button>
            <button type="button" class="btn btn-success">Denuncias</button>
          </div> -->
          <button (click)="mostrar('correo')" class="btn btn-block btn-social btn-reddit">
            <i class="fa fa-envelope"></i>Correo
          </button>
          <!-- <div *ngIf="showCorreo">
            <button type="button" class="btn btn-primary">Consulta</button>
            <button type="button" class="btn btn-secondary">Requerimiento</button>
            <button type="button" class="btn btn-success">Denuncias</button>
          </div> -->
          <button (click)="mostrar('chat')" class="btn btn-block btn-social btn-openid" style="blackground-color:slateblue">
            <i class="fa fa-comments"></i>Chat Institucional
          </button>
          <!-- <div *ngIf="showChat">
            <button type="button" class="btn btn-primary">Consulta</button>
            <button type="button" class="btn btn-secondary">Requerimiento</button>
            <button type="button" class="btn btn-success">Denuncias</button>
          </div> -->
          <button (click)="mostrar('twitter')" class="btn btn-block btn-social btn-twitter">
            <span class="fa fa-twitter"></span>Twitter
          </button>
        </div>
        <!-- <div *ngIf="showtwiter">
          <button type="button" class="btn btn-primary">Consulta</button>
          <button type="button" class="btn btn-secondary">Requerimiento</button>
          <button type="button" class="btn btn-success">Denuncias</button>
        </div> -->

        <!-- <button type="button" class="btn btn-primary" (click)="showFacebook=!showFacebook">Primary</button>

        <button type="button" class="btn btn-primary" (click)="showFacebook=!showFacebook">Primary</button>

        <button type="button" class="btn btn-primary" (click)="showFacebook=!showFacebook">Primary</button> -->

      </div>
      <p>{{redes}}</p>
      <div class="mt-3" *ngIf="showInteraccion">
        <button type="button" class="btn btn-success" (click)="consulta(redes)">Consulta</button>
        <button type="button" class="btn btn-info" (click)="requerimiento(redes)">Requerimiento</button>
        <button type="button" class="btn btn-warning" (click)="denuncias(redes)">Denuncias</button>
      </div>
    </div>

    <div class="col-6" *ngIf="showInteraccion">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Instancia</div>
        <div class="card-body">
          <form class="card-text">
            <div class="form-group">
              <label for="exampleInputEmail1">Nro.</label>
              <input type="email" class="form-control" placeholder="Nro,correo,CI,Nombre">

            </div>
            <button type="submit" class="btn btn-secondary">Registro</button>
            <button type="button" class="btn btn-secondary">Constancia</button>
          </form>
        </div>
      </div>
    </div>
    <table *ngIf="showInteraccion" class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>Subcategoria</th>
          <th>Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td scope="row"></td>
          <td>{{item.subcategoria}}</td>
          <td>{{item.descripcion}}</td>
        </tr>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>


</div>