<app-header></app-header>
<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-2">
      <button mat-button routerLink="/interacciones/reporte" color="primary" *ngIf="identity.rol=='ADMIN'||identity.rol=='REPORTES'">
        <i class="material-icons">pie_chart</i>Graficas
      </button>
    </div>
    <div class="col-md-8">
      <button mat-button (click)="mostrarReporte=!mostrarReporte" color="primary" *ngIf="identity.rol=='ADMIN'">
        <i class="material-icons">storage</i>Reporte
      </button>
      <form *ngIf="mostrarReporte" [formGroup]="reporteForm" (ngSubmit)="reporte()">
        <div class="form-inline">
          <div class="form-group">
            <label for="">Desde: </label>
            <input type="date" class="form-control" formControlName="desde">
          </div>
          <div class="form-group">
            <label for="">Hasta: </label>
            <input type="date" class="form-control" formControlName="hasta">
          </div>
          <div class="form-group">
            <button mat-button [disabled]="!reporteForm.valid" type="submit" color="primary">
              <mat-icon mat-list-icon>done</mat-icon>
              Descargar
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>
  <div class="row mt-4">
    <div class="col-md-5 col-lg-3">
      <div class="row justify-content-center" *ngIf="showInstancia">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Instancia</div>
          <div class="card-body">
            <form novalidate [formGroup]="userForm" class="card-text">
              <div class="form-group">
                <label for="exampleInputEmail1">Nro.</label>
                <input type="email" class="form-control" placeholder="Nro,correo,CI,Nombre" formControlName="instancia">
              </div>
              <button type="button" [disabled]="!userForm.valid" (click)="buscar()" class="btn btn-secondary">Verificar</button>
              <button type="button" [disabled]="!userForm.valid" (click)="iniciar()" class="btn btn-secondary">Iniciar</button>
            </form>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <button (click)="mostrar('Facebook')" class="btn btn-block btn-social btn-facebook">
          <i class="fa fa-facebook"></i>Facebook
        </button>
        <button (click)="mostrar('Line Gratuita')" class="btn btn-block btn-social btn-linkedin">
          <i class="fa fa-phone"></i>Linea Gratuita
        </button>
        <button (click)="mostrar('Whatsapp')" class="btn btn-block btn-social bg-success">
          <i class="fa fa-whatsapp"></i>Whatsapp
        </button>
        <button (click)="mostrar('Correo Electronico')" class="btn btn-block btn-social btn-reddit">
          <i class="fa fa-envelope"></i>Correo
        </button>
        <button (click)="mostrar('Chat Institucional')" class="btn btn-block btn-social btn-openid" style="blackground-color:slateblue">
          <i class="fa fa-comments"></i>Chat Institucional
        </button>
        <button (click)="mostrar('Twitter')" class="btn btn-block btn-social btn-twitter">
          <span class="fa fa-twitter"></span>Twitter
        </button>
      </div>
    </div>
    <div class="col-md-7 col-lg-9" *ngIf="showInteraccion">
      <div class="row justify-content-end mt-2">
        <button type="button" (click)="finalizar()" class="btn btn-secondary">Finalizar</button>
      </div>
      <h3>{{canal}}</h3>
      <div class="mt-3">
        <button type="button" class="btn btn-success" (click)="consulta(canal)">Consulta</button>
        <button type="button" class="btn btn-info" (click)="requerimiento(canal)">Requerimiento</button>
        <button type="button" class="btn btn-warning" (click)="denuncia(canal)">Denuncias</button>
      </div>
      <div class="row">
        <div class="col-md-6">
          <table *ngIf="showTable" class="table table-responsive mt-2">
            <thead>
              <tr>
                <th>Nro</th>
                <th>Subcategoria</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data;index as i" [ngClass]="{red: item.estado==true}" (click)="selectItem(item)">
                <th>
                  {{i+1}}
                </th>
                <td>{{item.subcategoria}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6" *ngIf="showForm">
          {{item}}
          <div *ngIf="dataForm[0]!=''">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{dataForm[0]}}</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="{{dataForm[0]}}" [(ngModel)]="valorForm[0]">
              </div>
            </div>
          </div>
          <div *ngIf="dataForm[1]!=''">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{dataForm[1]}}</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="{{dataForm[1]}}" [(ngModel)]="valorForm[1]">
              </div>
            </div>
          </div>
          <div *ngIf="dataForm[2]!=''">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{dataForm[2]}}</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="{{dataForm[2]}}" [(ngModel)]="valorForm[2]">
              </div>
            </div>
          </div>
          <div *ngIf="dataForm[3]!=''">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{dataForm[3]}}</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="{{dataForm[3]}}" [(ngModel)]="valorForm[3]">
              </div>
            </div>
          </div>
          <div *ngIf="dataForm[4]!=''">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{dataForm[4]}}</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="{{dataForm[4]}}" [(ngModel)]="valorForm[4]">
              </div>
            </div>
          </div>
          <div *ngIf="dataForm[5]!=''">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{dataForm[5]}}</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="{{dataForm[5]}}" [(ngModel)]="valorForm[5]">
              </div>
            </div>
          </div>
          <div *ngIf="dataForm[6]!=''">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{dataForm[6]}}</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="{{dataForm[6]}}" [(ngModel)]="valorForm[6]">
              </div>
            </div>
          </div>
          <div *ngIf="dataForm[7]!=''">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{dataForm[7]}}</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="{{dataForm[7]}}" [(ngModel)]="valorForm[7]">
              </div>
            </div>routerLink
          </div>
          <div class="row justify-content-md-center m-1">
            <button mat-button (click)="guardarForm()" color="primary">
              <mat-icon mat-list-icon>save</mat-icon>
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7 col-lg-9" *ngIf="showInst">
      <table class="table table-responsive mt-2">
        <thead>
          <tr>
            <th>Nro</th>
            <th>Entrada</th>
            <th>Categoria</th>
            <th>Subcategoria</th>
            <th>Creado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataInstancia.interacciones;index as i">
            <th>
              {{i+1}}
            </th>
            <td>{{dataInstancia.entrada}}</td>
            <td>{{item.categoria}}</td>
            <td>{{item.subcategoria}}</td>
            <td>{{item.InstanciaInteracciones.createdAt | date:'short'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>